{% extends 'base.html' %}

{% block title %}
	Display
{% endblock %}

{% block content %}
	<div class="files">
		<form method="post">
            {% csrf_token %}
			<input type="checkbox" name="script" value="First.py">1_Display<br>
			<input type="checkbox" name="script" value="Second.py" checked>2_Display<br>
			<input type="submit" value="Submit">
		</form>
	</div>
    <div class="result">
        {% if data %}
            <table border="2">
                {% for key, value in data.items %}
                    <tr>
                        <td>{{ key }}</td>
                        {% if value %}
                            <td style="color: green">Pass</td>
                        {% else %}
                            <td style="color: red">Fail</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
{% endblock %}